<include file="Public/e_header" />
<body>
    <form action="" method="" class="data">
        <input type="text" name="" placeholder="学号">
        <input type="text" name="" placeholder="姓名">
        <input type="text" name="" placeholder="专业">
        <input type="text" name="" placeholder="联系电话">
        <input type="text" name="" placeholder="常用邮箱">
        <select>
            <option>男</option>
        </select>
        <select>
            <option>微固体与电子学院</option>
        </select>
        <select>
            <option>本科</option>
        </select>
        <label class="block">个人特长</label>
        <textarea name=""></textarea>
        <p>请填写您真实有效的信息，以便于在您在微沙龙和微学术中找到志同道合的人。</p>
        <button type="submit" class="button">提交</button>
    </form>

<include file="Public/e_footer" />