<include file="Public/e_header"/>
<include file="Public/e_detail_title"/>
<div class="container">
    <ul class="detail-list">
        <li>
            <img src="/Public/static/img/time.png" class="time">
            <span class="label">时间：</span>
            <span>{$iteam['start_date']|date="Y-m-d H:i",###}-{$iteam['end_date']|date="H:i",###}</span>
        </li>
        <li>
            <img src="/Public/static/img/site.png" class="site">
            <span class="label">地点：</span>
            <span>{$iteam['space']}</span>
        </li>
       <include file="Public/e_detail" />
       <include file="Public/e_summary" />
    </ul>
</div>
<include file="Public/e_status"/>

<div id="photo-detail" class="hidden">

</div>


<script type="text/javascript">
    $(function () {
        var percent;
        var wid;
        var now = $(".list").find(".amount-now").text();
        var total = $(".list").find(".amount-total").text();
        percent = now / total;
        wid = percent * 90;
        $(".list ").find(".progressbar").css({"clip": "rect(0 " + wid + "px 14px 0)"});
    });                                                  //已参与人数进度条

    var show = false;
    $("#photos").find("img").click(function(){
        var clone = $(this).clone(true);
        $("#photo-detail").show().empty().append(clone);
        clone.css({"width":"100%","height":"100%"});
        show = true;
    });
    $("#photo-detail").click(function(){
        if(show){
            $("#photo-detail").hide();
            show = false;
        }
    })
</script>
<include file="Public/e_footer"/>
