<include file="Public/e_header"/>
<include file="Public/e_detail_title"/>

<div class="container">
    <ul class="detail-list">
        <li>
            <img src="/Public/static/img/time.png" class="time">
            <span class="label">时间：</span>
            <span>{$start_date|date="Y-m-d H:i",###}-{$end_date|date="H:i",###}</span>
        </li>
        <li>
            <img src="/Public/static/img/site.png" class="site">
            <span class="label">地点：</span>
            <span>{$iteam['space']}</span>
        </li>
       <include file="Public/e_detail" />

       <include file="Public/e_summary" />
    </ul>
</div>

<include file="Public/e_status"/>
<script type="text/javascript">
    $(function () {
        var percent;
        var wid;
        var now = $(".list").find(".amount-now").text();
        var total = $(".list").find(".amount-total").text();
        percent = now / total;
        wid = percent * 90;
        $(".list ").find(".progressbar").css({"clip": "rect(0 " + wid + "px 14px 0)"});
    });                                                  //已参与人数进度条
</script>
<include file="Public/e_footer"/>
