<include file="Public/e_header" />
<body style="background-image: url(/Public/static/img/data-bg.jpg)">
    <form method="post" class="data">
        <div class="form-group">
            <label>学号:</label>
            <input type="text" name="student_id">
        </div>
        <div class="form-group">
            <label>姓名:</label>
            <input type="text" name="student_name">
        </div>
        <div class="form-group">
            <label>专业:</label>
            <input type="text" name="major">
        </div>
        <div class="form-group">
            <label>电话:</label>
            <input type="text" name="phone">
        </div>
        <div class="form-group">
            <label>邮箱:</label>
            <input type="text" name="email">
        </div>
        <div class="form-group">
            <label>性别:</label>
            <select name="gender">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="form-group">
            <label>学院:</label>
            <select name="school">
                <option value="微固体与电子学院">微固体与电子学院</option>
            </select>
        </div>
        <div class="form-group">
            <label>学历:</label>
            <select name="student_status">
                <option value="本科">本科</option>
            </select>
        </div>
        <div class="form-group">
            <label>特长:</label>
            <textarea name="good"></textarea>
        </div>
        <p class="clearfix ins">请填写您真实有效的信息，<br>以便于在您在微沙龙和微学术中找到志同道合的人。</p>
        <button type="submit" class="button">立即提交</button>
    </form>

<include file="Public/e_footer" />