<include file="Public/e_header" />
<body style="background-image: url(/Public/static/img/data-bg.jpg)">
    <form method="post" class="data">
        <div class="form-group">
            <label>学号:</label>
            <label class="content">2013020911015</label>
        </div>
        <div class="form-group">
            <label>姓名:</label>
            <label class="content">张三</label>
        </div>
        <div class="form-group">
            <label>专业:</label>
            <label class="content">电子信息工程</label>
        </div>
        <div class="form-group">
            <label>电话:</label>
            <label class="content">22351254</label>
        </div>
        <div class="form-group">
            <label>邮箱:</label>
            <label class="content">734364420@qq.com</label>
        </div>
        <div class="form-group">
            <label>性别:</label>
            <label class="content">男</label>
        </div>
        <div class="form-group">
            <label>学院:</label>
            <label class="content">微固体与电子学院</label>
        </div>
        <div class="form-group">
            <label>学历:</label>
            <label class="content">本科</label>
        </div>
        <div class="form-group">
            <label>特长:</label>
            <label class="content">琴棋书画吹牛装逼琴棋书画吹牛装逼琴棋书画吹牛装逼琴棋书画吹牛装逼琴棋书画吹牛装逼琴棋书画吹牛装逼琴棋书画吹牛装逼琴棋书画吹牛</label>
        </div>
    </form>

<include file="Public/e_footer" />