<include file="Public/e_header" />
<body>
    <div>
        <span>4023</span>
        <span>能源开采</span>
    </div>
    <ul class="detail-list">
        <li>
            <img src="img/">
            <span>时间：</span>
            <span>2015年7月8日 09:00-11:00</span>
        </li>
        <li>
            <img src="img/">
            <span>地点：</span>
            <span>宾诺咖啡</span>
        </li>
        <li>
            <img src="img/">
            <span>发起人：</span>
            <span>张三</span>
            <p>微固学院</p>
            <p>18215508888</p>
            <p>878652982@qq.com</p>
        </li>
        <li>
            <img src="img/">
            <span>报名人数：</span>
            <span>2/6</span>
            <p>王丽 微固学院</p>
            <p>刘五 计算机学院</p>
        </li>
        <li>
            <img src="img/">
            <span>活动简介</span>
            <p>能源开采是主流研究xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        </li>
    </ul>

    <a href="" class="button">填写活动总结</a>

<include file="Public/e_footer" />