<include file="Public/e_header"/>
<div class="list detail-title">
    <span class="blue-block pull-left"></span>

    <div class="pull-left titles">
        <p class="title">{$salon['title']}</p>
        <span class="sub-title pull-left name detail">{$publish_user['student_name']}</span>
        <span class="sub-title pull-left time">{$salon['date']}</span>
        <img src="/Public/static/img/see.png" class="see">
        <span class="sub-title pull-left" style="margin-left:3px;">浏览(</span>
        <span class="sub-title pull-left">{$salon['hits']}</span>
        <span class="sub-title pull-left">)</span>
    </div>
    <div class="amount pull-left">
        <span class="amount-now">{$salon['participated_number']}</span>
        <span class="amount-dig">/</span>
        <span class="amount-total">{$salon['participate_number']}</span>
        <img src="/Public/static/img/progressbar-bottom.png">
        <img src="/Public/static/img/progressbar-top.png" class="progressbar">
    </div>
</div>

<div class="container">
    <ul class="detail-list">
        <li>
            <img src="/Public/static/img/time.png" class="time">
            <span class="label">时间：</span>
            <span>{$salon['date']} {$salon['time_range']}</span>
        </li>
        <li>
            <img src="/Public/static/img/site.png" class="site">
            <span class="label">地点：</span>
            <span>{$salon['space']}</span>
        </li>
        <li>
            <img src="/Public/static/img/user.png" class="user">
            <span class="label">发起人：</span>
            <span>{$publish_user['student_name']}</span>

            <p>{$publish_user['school']}</p>

            <p>{$publish_user['phone']}</p>

            <p>{$publish_user['eamil']}</p>
        </li>
        <li>
            <img src="/Public/static/img/amount.png" class="amount">
            <span class="label">报名人数：</span>
            <span>{$salon['participated_number']}/{$salon['participate_number']}</span>
            <volist name="participate_users" id="paticipate_user">
                <p>{$paticipate_user.student_name} {$paticipate_user.school}</p>
            </volist>
        </li>
        <li id="brief">
            <img src="/Public/static/img/brief.png" class="brief">
            <span class="label">活动简介：</span>

            <p>{$salon['brief']}</p>
        </li>

        <?php if($salon['date'] > time('Y-m-d',time()) && status=='已参加') { ?>
        <li id="comment">
            <img src="/Public/static/img/summary.jpg" class="comment">
            <span class="label">活动总结：</span>

            <div class="comment-group">
                <p class="pull-left">张三：</p>

                <div class="pull-left">
                    <div class="clearfix">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                    </div>
                    <p>鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三</p>
                </div>
            </div>
            <div class="comment-group">
                <p class="pull-left">张三：</p>

                <div class="pull-left">
                    <div class="clearfix">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                    </div>
                    <p>鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三</p>
                </div>
            </div>
            <div class="comment-group">
                <p class="pull-left">张三：</p>

                <div class="pull-left">
                    <div class="clearfix">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                        <img src="/Public/static/img/star.png" class="comment-star">
                    </div>
                    <p>鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<?php } ?>

<?php if($salon['data'] <= date('Y-m-d',time()) && $status=='已参加') { ?>
<a href="{:addons_url('Salon://Salon/Summary',array('id'=>$salon['id']))}" class="button go-summary">填写活动总结</a>
<?php } ?>

<?php if($salon['date'] >= date('Y-m-d',time()) && empty($status) && $salon['participated_number'] < $salon['participate_number']) { ?>
<a href="{:addons_url('Salon://Salon/ParticipateSalon',array('id'=>$salon['id']))}" class="button go-summary">我要报名参加</a>
<?php } ?>

<?php if($salon['date'] < date('Y-m-d',time())) { ?>
<a href="#" class="button go-summary">活动已过期</a>
<?php } ?>

<?php if($status == '已参加') { ?>
<a href="#"class="button go-summary">您已参加此活动</a>
<?php } ?>

<?php if($salon['participated_number'] >= $salon['participate_number']) {?>
<a href="#"class="button go-summary">人数已满啦</a>
<?php } ?>
<script type="text/javascript">
    $(function () {
        var percent;
        var wid;
        var now = $(".list").find(".amount-now").text();
        var total = $(".list").find(".amount-total").text();
        percent = now / total;
        wid = percent * 90;
        $(".list ").find(".progressbar").css({"clip": "rect(0 " + wid + "px 14px 0)"});
    })
</script>
<include file="Public/e_footer"/>
