<!-- <include file="Public/e_header"/> -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>使用说明</title>
<style>
body{
    background: -webkit-linear-gradient(top,#fff,lightskyblue)
}
p{
    line-height: 1.4;
    text-align: justify;
}
b{
    margin: 10px 0;
    display: block;
}
</style>
</head>
<body>
<!--<div class="container">-->
    <!--<div class="instruction">-->
        <!--<span class="blue-block"></span>-->

        <!--<p class="big">如何进行E沙龙认证</p>-->

        <!--<p class="small">认证方式 | 修改方式</p>-->
        <!--<span class="orange first">认证方式</span>-->

        <!--<p class="content">关注“电子科技大学研究生”公众号，点击右下角【微社区】，【E沙龙】，未认证用户将跳转到认证界面，填写相应信息进行认证。-->
        <!--</p>-->
        <!--<span class="orange">修改方式</span>-->

        <!--<p class="content">已认证的用户可以点击菜单栏【E沙龙】，【我的E沙龙】，在页面右上方点击“修改资料”按钮，进入到个人资料修改页面，从而进行个人信息的修改。-->
        <!--</p>-->
    <!--</div>-->

    <!--<div class="instruction">-->
        <!--<span class="blue-block"></span>-->

        <!--<p class="big">如何发起微沙龙</p>-->

        <!--<p class="small">第一步 | 第二步</p>-->
        <!--<span class="orange first">第一步</span>-->

        <!--<p class="content">点击菜单栏【E沙龙】【发起E沙龙】，按照提示填写活动信息后可发布。</p>-->
        <!--<span class="orange">第二步</span>-->

        <!--<p class="content">活动发布后，可邀请或分享给好友。</p>-->
    <!--</div>-->
<!--</div>-->
<div style="padding: 0 20px">
<h1 style="text-align: center">使用说明</h1>
<b>一、产品介绍</b>
<p>E沙龙是一个自主、开放、便捷的学术交流平台，针对3-7人的讨论会、分享会等小型活动。发起人只需在E沙龙广场就可以完成整个活动的策划和发起，无需场地预约等繁琐手续，找到自己的学术伙伴，轻松实现面对面交流！</p>
<b>二、E沙龙认证</b>
<p>首次使用的用户需进行实名认证。
认证方式：
关注“电子科技大学研究生”公众号，点击右下角【微社区】-【E沙龙】-【我的E沙龙】，未认证用户将跳转到认证页面，已认证用户将直接登录系统
如何修改
已认证用户可以点击菜单栏【微社区】-【E沙龙】-【我的E沙龙】，在页面右上方点击“修改资料”按钮进入到个人资料修改页面，从而修改手机号码和邮箱。</p>
<b>三、发起E沙龙</b>
<p>第一步：点击菜单栏【微社区】-【E沙龙】-【发起E沙龙】，按照提示填写活动信息后可发布
第二步：活动发布成功以后，可将该场E沙龙活动信息发送给朋友或分享到朋友圈邀请他人参加。系统也会将该活动放置在E沙龙广场，等待其他人参与。</br>
说明：</br>
（1）只能发起一周内的活动；</br>
（2）自定义地点的E沙龙活动将不能进行代金券使用；</br>
（3）活动发起之后不能取消。</p>
<b>四、参加E沙龙</b>
<p>点击菜单栏【微社区】-【E沙龙】-【E沙龙广场】，查看【可报名的E沙龙】列表，选择感兴趣的活动报名；或者通过好友分享的活动链接，点击进入活动以后进行报名</p>
<b>五、填写E沙龙总结</b>
<p>活动结束以后，点击菜单栏【微社区】-【E沙龙】-【我的E沙龙】，从【我发起的E沙龙】或【我报名的E沙龙】列表里找到未总结的E沙龙活动，点击进入活动后可提交总结。</p>
<p>说明：</br>
（1）E沙龙总结包括活动总结、上传活动照片、活动评分；</br>
（2）活动总结的字数限定在50-300字；</br>
（3）若活动结束后3天参与者未提交总结，则系统将发送短信提醒；</p>
<b>六、查看曾经参加过的E沙龙</b>
</p>用户可以在【我的E沙龙】里查看所有发起的和报名的E沙龙，点击已总结的E沙龙可查看自己和他人的评价及活动总结。</p>
<b>七、如何更好地使用E沙龙？</b>
<p>为了更好的帮助大家使用E沙龙，特制定如下的E沙龙使用规范：</br>
1、发起者须认真填写主题和简介</br>
发起人发起的E沙龙活动需与学术讨论相关（鼓励跨院系学科交叉），力求能准确、清晰、详细地反映出要讨论的内容。</br>
2、在人数设定范围内不得限制他人参与</br>
3、如何做一个好的发起人</br>
E沙龙发起人是活动的发起和主导者，我们建议您：</br>
（1）联系并确认每位活动报名者；</br>
（2）明确活动时间地点，提醒报名同学参与；</br>
（3）对活动质量负责。保证活动过程中学术讨论的有效性；</br>
（4）活动结束后上传一张活动照片并认真填写活动总结。</br>
4、活动参加者须认真填写活动总结</p>
<b>八、管理措施</b>
<p>管理员有权根据活动的质量、使用者的情况进行一些必要的监管措施：</br>
（1）删除不符合学术要求或限制他人参加的活动；
（2）通过短信提醒不按要求发起活动和填写总结的用户；</p>
<b>九、问题反馈</b>
<p>有任何问题与建议，可以发送消息到“电子科技大学研究生”微信平台或发邮件到xuanchuanbu_uestc@63.com，管理员会及时进行回复。
找到自己的学术伙伴，让交流成为一种习惯！</p>
</div>
</body>
</html>
<!-- <include file="Public/e_footer"/> -->
