<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{__PUBLIC__}/static/css/style.css">
</head>
<body id="instruction">
<div>
	<span>使用说明|教你玩转微沙龙</span>
</div>

<div>
	<img src="img/">
</div>

<div>
	<p>一、如何进行微沙龙认证</p>
	<span class="indent">认证方式</span>
	<p class="indent">关注“微观固事”公众号，点击左下角【沙龙约】，【我的微沙龙】，未认证用户将跳转到认证界面，填写相应信息进行认证。</p>
	<span class="indent">修改方式</span>
	<p class="indent">已认证的用户可以点击菜单栏【沙龙约】，【我的微沙龙】，在页面右上方点击“修改资料”按钮，进入到个人资料修改页面，从而进行个人信息的修改。</p>

	<p>二、如何发起微沙龙</p>
	<p>第一步：点击菜单栏【沙龙约】【发起微沙龙】，按照提示填写活动信息后可发布。</p>
	<p>第二步：活动发布后，可邀请或分享给好友。</p>
</div>

<script type="text/javascript" src="{__PUBLIC__}/static/js/jquery-1.11.3.min.js"></script>
</body>
</html>