<include file="Public/e_header" />
<body>
    <div>
        <img src="img/">
        <span>张三</span>
        <a href="" class="pull-right">修改资料</a>
    </div>

    <div class="flex-box">
        <a href="" class="flex-1 center">我发起的微沙龙</a>
        <a href="" class="flex-1 center">我报名的微沙龙</a>
    </div>

    <div class="flex-box">
        <select name="" class="flex-1">
            <option>学科类别</option>
        </select>
        <select name="" class="flex-1">
            <option>活动时间</option>
        </select>
        <select name="" class="flex-1">
            <option>活动地点</option>
        </select>
    </div>

    <div class="list">
        <ul>
            <li class="flex-box">
                <span class="flex-1">未总结</span>
                <p class="flex-2">能源开采</p>
                <img src="img/" class="flex-1">
            </li>
            <li class="flex-box">
                <span class="flex-1">未总结</span>
                <p class="flex-2">能源开采</p>
                <img src="img/" class="flex-1">
            </li>
            <li class="flex-box">
                <span class="flex-1">未总结</span>
                <p class="flex-2">能源开采</p>
                <img src="img/" class="flex-1">
            </li>
            <li class="flex-box">
                <span class="flex-1">未总结</span>
                <p class="flex-2">能源开采</p>
                <img src="img/" class="flex-1">
            </li>
        </ul>
    </div>

<include file="Public/e_footer" />