<include file="Public/e_header"/>
<body>
<div class="flex-box salon-type">
    <a href="javascript:;" class="flex-1 center active" id="salonsquare-left">可报名的的E沙龙</a>
    <a href="javascript:;" class="flex-1 center" id="salonsquare-right">已结束的E沙龙</a>
</div>

<form action="{:addons_url('Salon://Salon/GetSalonWith')}" method="post" id="salonsquare-left-form">
    <div class="flex-box select-group">
        <select name="type" class="flex-1">
            <option value="">沙龙类别</option>
            <option value="物联网">物联网</option>
            <option value="互联网+">互联网+</option>
            <option value="">全部</option>
        </select>
        <select name="day" class="flex-1">
            <option value="">活动时间</option>
            <option value="0">今天</option>
            <option value="3">三天内</option>
            <option value="7">一周内</option>
        </select>
        <select name="space" class="flex-1">
            <option value="">活动地点</option>
            <option value="清水河">清水河</option>
            <option value="沙河">沙河</option>
        </select>
        <input type="hidden" name="status" value="">
        <input type="submit" value="搜索">
    </div>
</form>

<form action="{:addons_url('Salon://Salon/GetSalonWith')}" method="post" id="salonsquare-right-form" class="hidden">
    <div class="flex-box select-group">
        <select name="type" class="flex-1">
            <option value="">沙龙类别</option>
            <option value="物联网">物联网</option>
            <option value="互联网+">互联网+</option>
            <option value="">全部</option>
        </select>
        <select name="day" class="flex-1">
            <option value="">活动时间</option>
            <option value="-1">昨天</option>
            <option value="-3">过去三天内</option>
            <option value="-7">过去一周内</option>
        </select>
        <select name="space" class="flex-1">
            <option value="">活动地点</option>
            <option value="清水河">清水河</option>
            <option value="沙河">沙河</option>
        </select>
        <input type="hidden" name="status" value="right">
        <input type="submit" value="搜索">
    </div>
</form>

<div class="container">
    <div class="list">
        <ul id="salonsquare-left-ul">
            <volist name="salons" id="salon">
                <li class="detail-title">
                    <span class="blue-block pull-left"></span>
                    <div class="pull-left titles">
                        <p class="title"><a href="{:addons_url('Salon://Salon/CheckSalon',array('id'=>$salon['id']))}">{$salon.title}</a></p>
                        <span class="sub-title pull-left name detail">{$salon.username}</span>
                        <span class="sub-title pull-left time">{$salon.date}</span>
                        <img src="/Public/static/img/see.png" class="see">
                        <span class="sub-title pull-left" style="margin-left:3px;">浏览(</span>
                        <span class="sub-title pull-left">{$salon.hits}</span>
                        <span class="sub-title pull-left">)</span>
                    </div>
                    <div class="amount pull-left">
                        <span class="amount-now">{$salon.participated_number}</span>
                        <span class="amount-dig">/</span>
                        <span class="amount-total">{$salon.participate_number}</span>
                        <img src="/Public/static/img/progressbar-bottom.png">
                        <img src="/Public/static/img/progressbar-top.png" class="progressbar">
                    </div>
                </li>
            </volist>
        </ul>

        <ul id="salonsquare-right-ul" class="hidden">
            <volist name="end_salons" id="salon">
                <li class="detail-title">
                    <span class="blue-block pull-left"></span>
                    <div class="pull-left titles">
                        <p class="title"><a href="{:addons_url('Salon://Salon/CheckSalon',array('id'=>$salon['id']))}">{$salon.title}</a></p>
                        <span class="sub-title pull-left name detail">{$salon.username}</span>
                        <span class="sub-title pull-left time">{$salon.date}</span>
                        <img src="/Public/static/img/see.png" class="see">
                        <span class="sub-title pull-left" style="margin-left:3px;">浏览(</span>
                        <span class="sub-title pull-left">{$salon.hits}</span>
                        <span class="sub-title pull-left">)</span>
                    </div>
                    <div class="amount pull-left">
                        <span class="amount-now">{$salon.participated_number}</span>
                        <span class="amount-dig">/</span>
                        <span class="amount-total">{$salon.participate_number}</span>
                        <img src="/Public/static/img/progressbar-bottom.png">
                        <img src="/Public/static/img/progressbar-top.png" class="progressbar">
                    </div>
                </li>
            </volist>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var percent = [];
        var wid = [];
        for (var i = 0; i < $(".list li").length; i++) {
            var now = $(".list li").eq(i).find(".amount-now").text();
            var total = $(".list li").eq(i).find(".amount-total").text();
            percent[i] = now / total;
            wid[i] = percent[i] * 90;
            $(".list li").eq(i).find(".progressbar").css({"clip": "rect(0 " + wid[i] + "px 14px 0)"});
        }
    })

    $(function () {
        if($("#salonsquare-left").hasClass("active")){
            $("#salonsquare-right").removeClass("active");
            $("#salonsquare-right-ul").addClass("hidden");
            $("#salonsquare-left-ul").removeClass("hidden");
            $("#salonsquare-right-form").addClass("hidden");
            $("#salonsquare-left-form").removeClass("hidden");
        }
        if($("#salonsquare-right").hasClass("active")){
            $("#salonsquare-left").removeClass("active");
            $("#salonsquare-left-ul").addClass("hidden");
            $("#salonsquare-right-ul").removeClass("hidden");
            $("#salonsquare-left-form").addClass("hidden");
            $("#salonsquare-right-form").removeClass("hidden");
        }
    })

    $("#salonsquare-left").click(function () {
        $(this).addClass("active");
        $("#salonsquare-right").removeClass("active");
        $("#salonsquare-right-ul").addClass("hidden");
        $("#salonsquare-left-ul").removeClass("hidden");
        $("#salonsquare-right-form").addClass("hidden");
        $("#salonsquare-left-form").removeClass("hidden");
    })

    $("#salonsquare-right").click(function () {
        $(this).addClass("active");
        $("#salonsquare-left").removeClass("active");
        $("#salonsquare-left-ul").addClass("hidden");
        $("#salonsquare-right-ul").removeClass("hidden");
        $("#salonsquare-left-form").addClass("hidden");
        $("#salonsquare-right-form").removeClass("hidden");
    })
</script>
<include file="Public/e_footer"/>