<include file="Public/e_header" />
<body>
    <form action="" method="">
        <div class="form-control">
            <label class="block">微学术主题</label>
            <input type="text" name="">
        </div>
        <div class="form-control">
            <label class="block">选择报名截止时间</label>
            <div class="flex-box">
                <select class="flex-1">
                    <option>07-08</option>
                </select>
                <select class="flex-1">
                    <option>09:00</option>
                </select>
            </div>
        </div>
        <div class="form-control">
            <label class="block">选择比赛截止时间</label>
            <div class="flex-box">
                <select class="flex-1">
                    <option>07-08</option>
                </select>
                <select class="flex-1">
                    <option>09:00</option>
                </select>
            </div>
        </div>
        <div class="form-control">
            <label class="block">选择参与人数</label>
            <select>
                <option>4人</option>
            </select>
        </div>
        <div class="form-control">
            <label class="block">选择类别</label>
            <select>
                <option>物联网</option>
            </select>
        </div>
        <div class="form-control">
            <label class="block">输入微学术简介</label>
            <textarea name=""></textarea>
        </div>
        <div class="form-control">
            <label class="block">输入个人简介</label>
            <textarea name=""></textarea>
        </div>

        <button type="submit">发起微沙龙</button>
    </form>

<include file="Public/e_footer" />