<include file="Public/e_header"/>

<body style="background: #dedede;min-height: 100%" id="my-coupon">
    <div id="code"></div>
    <ul>
        <li>
            <b>活动名称：</b>
            <span>{$salon.title}</span>
        </li>
        <li>
            <b>活动时间：</b>
            <span>{$salon.start_date|date="Y-m-d H:i",###}</span>
        </li>
        <li>
            <b>学生姓名：</b>
            <span>{$user.student_name}</span>
        </li>
        <li>
            <b>代金劵金额：</b>
            <span>{$coupon.money}</span>
        </li>
        <li>
            <b>使用情况：</b>
            <span>
                <php>if($coupon["is_used"]) {
                        echo "已使用";
                    } else {
                        echo "未使用";
                    }
                </php>
            </span>
        </li>

    </ul>
</body>


<script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>
    var text = '{$url}';
    $('#code').qrcode(text);
</script>
<include file="Public/e_footer"/>