<include file="Public/e_header"/>
<body style="background-image: url(/Public/static/img/data-bg.jpg)">
<div class="data">
    <php>
        if(session('user_id')==$user['id']) {
        $credit = M('credit')->where(array('user_id'=>$user['id']))->find();
    </php>
    <div class="form-group">
        <label>积分:</label>
        <label class="content">{$credit.credit}</label>
    </div>
    <php>
        }
    </php>
    <div class="form-group">
        <label>学号:</label>
        <label class="content">{$user.student_id}</label>
    </div>
    <div class="form-group">
        <label>姓名:</label>
        <label class="content">{$user.student_name}</label>
    </div>
    <div class="form-group">
        <label>专业:</label>
        <label class="content">{$user.major}</label>
    </div>
    <div class="form-group">
        <label>电话:</label>
        <label class="content">{$user.phone}</label>
    </div>
    <div class="form-group">
        <label>邮箱:</label>
        <label class="content">{$user.email}</label>
    </div>
    <div class="form-group">
        <label>性别:</label>
        <label class="content">{$user.gender}</label>
    </div>
    <div class="form-group">
        <label>学院:</label>
        <label class="content">{$user.school}</label>
    </div>
    <div class="form-group">
        <label>学历:</label>
        <label class="content">{$user.student_status}</label>
    </div>
    <div class="form-group">
        <label>特长:</label>
        <label class="content">{$user.good}</label>
    </div>
</div>

<include file="Public/e_footer"/>