<li>
	<img src="/Public/static/img/class.png" class="class">
	<span class="label">类别：</span>
	<span>{$iteam.type|h}</span>
</li>
<li>
	<img src="/Public/static/img/user.png" class="user">
	<span class="label">发起人：</span>
	<span>{$user.student_name|h}</span>
	<span style="margin-left: 10px;">{$user.phone|h}</span>
	<p>{$user.student_id|h}</p>
	<p>{$user.school|h}</p>

</li>
<li>
	<img src="/Public/static/img/amount.png" class="amount">
	<span class="label">报名人数：</span>
	<span>{$iteam.participated_number|h}/{$iteam.participate_number|h}</span>
	<volist name="participate_users " id="u">
		<php>$euser = M('e_user')->find($u['user_id'])</php>
		<p>
			<a href="{:addons_url('Auth://Auth/UserProfile',array('id'=>$euser['id']))}" class="block pull-left" style="width:65px;">{$euser.student_name|h}</a>
			<span class="pull-left">{$euser.phone|h}</span>

		<p class="pull-left">{$euser.student_id|h}</p>
		<p class="pull-left">{$euser.school|h}</p>
		</p>
	</volist>
</li>
<li id="brief">
	<img src="/Public/static/img/brief.png" class="brief">
	<span class="label">活动简介：</span>

	<p>{$iteam.brief|h}</p>
</li>
<if condition="!empty($iteam['publish_brief'])">
<li id="person-brief">
	<img src="/Public/static/img/brief.png" class="brief">
	<span class="label">发布者个人简介：</span>

	<p>{$iteam.publish_brief|h}</p>
</li>
</if>