<li>
	<img src="/Public/static/img/user.png" class="user">
	<span class="label">发起人：</span>
	<span>{$user.student_name}</span>

	<p>{$user.school}</p>

	<p>{$user.phone}</p>

	<p>{$user.email}</p>

	<p>{$user.good}</p>
</li>
<li>
	<img src="/Public/static/img/amount.png" class="amount">
	<span class="label">报名人数：</span>
	<span>{$iteam.participated_number}/{$iteam.participate_number}</span>
	<volist name="participate_users " id="u">
		<php>$euser = M('e_user')->find($u['user_id'])</php>
		<p>
			<a href="{:addons_url('Auth://Auth/UserProfile',array('id'=>$euser['id']))}" class="block pull-left" style="width:65px;">{$euser.student_name}</a>
			<span class="pull-left">{$euser.school}</span>
		</p>
	</volist>
</li>
<li id="brief">
	<img src="/Public/static/img/brief.png" class="brief">
	<span class="label">比赛简介：</span>

	<p>{$iteam.brief}</p>
</li>