<include file="Public/e_header"/>

<body style="background: -webkit-linear-gradient(lightskyblue,lightgreen) no-repeat;min-height: 100%" id="show-coupon">
<form action="{$url}" method="post">
    <ul>
        <li>
            <b>代金券金额：</b>
            <span>{$coupon.money}</span>
            <input type="hidden" name="id" value="{$coupon.id}"/>
        </li>
        <li>
            <b>活动名称：</b>
            <span>{$salon.title}</span>
            <input type="hidden" name="salon_id" value="{$salon.id}"/>
        </li>
        <li>
            <b>活动时间：</b>
            <span>{$salon.start_date|date="Y-m-d H:i",###}</span>
        </li>
        <li>
            <b>用户姓名：</b>
            <span>{$user.student_name}</span>
            <input type="hidden" name="user_id" value="{$user.id}"/>
        </li>
        <php>
            if(!$coupon['is_used']) {
        </php>
        <li class="form-group">
            <label>选择地点：</label>
            <select name="address" id="">
                <option value="【清】淘学驿站">【清】淘学驿站</option>
                <option value="【沙】红咖啡">【沙】红咖啡</option>
            </select>
        </li>
        <li class="form-group">
            <label>输入密码(商家输入)：</label>
            <input type="password" name="password"/>
        </li>
        <button type="submit">确认使用</button>
        <php>
            } else {
        </php>
        <li class="form-group">
            <label>使用情况:</label>
            <span>已使用</span>
        </li>
        <li class="form-group">
            <label>使用地点:</label>
            <span>{$coupon.used_where}</span>
        </li>
        <li class="form-group">
            <label>使用时间:</label>
            <span>{$coupon.used_at|date="Y-m-d H:i",###}</span>
        </li>
        <php>}</php>
    </ul>
</form>
</body>

<include file="Public/e_footer"/>