<include file="Public/e_header" />
<body>
    <div class="list detail-title">
        <span class="blue-block pull-left"></span>
        <div class="pull-left titles">
            <p class="title">互联网+分析及深入研究</p>
            <span class="sub-title pull-left name">张三</span>
            <span class="sub-title pull-left time">2015-07-07</span>
            <img src="/Public/static/img/see.png" class="see">
            <span class="sub-title pull-left" style="margin-left:3px;">浏览(&nbsp;</span>
            <span class="sub-title pull-left">237</span>
            <span class="sub-title pull-left">&nbsp;)</span>
        </div>
        <div class="amount pull-left">
            <span class="amount-now">3</span>
            <span class="amount-dig">/</span>
            <span class="amount-total">6</span>
            <img src="/Public/static/img/progressbar-bottom.png">
            <img src="/Public/static/img/progressbar-top.png" class="progressbar">
        </div>
    </div>

    <div class="container">
        <ul class="detail-list">
            <li>
                <img src="/Public/static/img/time.png" class="time">
                <span class="label">比赛截止时间：</span>
                <span>2015年7月8日 09:00-11:00</span>
            </li>
            <li>
                <img src="/Public/static/img/user.png" class="user">
                <span class="label">发起人：</span>
                <span>张三</span>
                <p>微固学院</p>
                <p>18215508888</p>
                <p>878652982@qq.com</p>
                <p>个人简介简介简介</p>
            </li>
            <li>
                <img src="/Public/static/img/amount.png" class="amount">
                <span class="label">报名人数：</span>
                <span>2/6</span>
                <p>王丽 微固学院</p>
                <p>刘五 计算机学院</p>
            </li>
            <li id="brief">
                <img src="/Public/static/img/brief.png" class="brief">
                <span class="label">比赛简介：</span>
                <p>能源开采是主流研究xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </li>
            <li id="comment">
                <img src="/Public/static/img/summary.jpg" class="comment">
                <span class="label">比赛总结：</span>
                <div class="comment-group">
                    <p class="pull-left">张三：</p>
                    <div class="pull-left">
                        <div class="clearfix">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star.png" class="comment-star">
                            <img src="/Public/static/img/star.png" class="comment-star">
                        </div>
                        <p>鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三</p>
                    </div>
                </div>
                <div class="comment-group">
                    <p class="pull-left">张三：</p>
                    <div class="pull-left">
                        <div class="clearfix">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star.png" class="comment-star">
                            <img src="/Public/static/img/star.png" class="comment-star">
                        </div>
                        <p>鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三</p>
                    </div>
                </div>
                <div class="comment-group">
                    <p class="pull-left">张三：</p>
                    <div class="pull-left">
                        <div class="clearfix">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star-active.png" class="comment-star">
                            <img src="/Public/static/img/star.png" class="comment-star">
                            <img src="/Public/static/img/star.png" class="comment-star">
                        </div>
                        <p>鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三鞍山嘎嘎嘎嘎嘎三</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <a href="" class="button go-summary">填写活动总结</a>

<script type="text/javascript">
    $(function(){
        var percent=[];
        var wid=[];
        for(var i=0;i<$(".list li").length;i++){
            var now=$(".list li").eq(i).find(".amount-now").text();
            var total=$(".list li").eq(i).find(".amount-total").text();
            percent[i]=now/total;
            wid[i]=percent[i]*90;
            $(".list li").eq(i).find(".progressbar").css({"clip":"rect(0 " + wid[i] + "px 14px 0)"});
        }
    })
</script>
<include file="Public/e_footer" />