<include file="Public/e_header"/>
<body>
    <div class="flex-box salon-type">
        <a href="javacript:;" class="flex-1 center active" id="myiteam-left">我发起的iteam</a>
        <a href="javacript:;" class="flex-1 center" id="myiteam-right">我报名的iteam</a>
    </div>


    <div class="center" id="data">
        <span class="name""><a href="{:addons_url('Auth://Auth/UserProfile',array('uid'=>$user['id']))}">{$user.student_name}</a></span>
        <a href="{:addons_url('Auth://Auth/EditProfile')}" id="change-data" class="pull-right">修改资料</a>
    </div>

    <div class="flex-box select-group">
	    <form method="post">
        <select name="type" class="flex-1">
            <option>竞赛类别</option>
	        <option value=物联网">物联网</option>
	        <option value="互联网+">互联网+</option>
	        <option value="">全部</option>
        </select>
        <select name="iteam_status" class="flex-1">
            <option>比赛状态</option>
            <option value="0">未结束</option>
            <option value="1">已结束</option>
            <option value="">全部</option>
        </select>
		<select name="summary_status" class="flex-1">
			<option>总结状态</option>
			<option value="0">未结束</option>
			<option value="1">已结束</option>
			<option value="">全部</option>
		</select>
		<input type="submit" value="搜索"/>
	    </form>
    </div>

    <div class="container">
        <div class="list">
            <ul id="myiteam-left-ul">
                <volist name="PublishIteams" id="iteam">
                <li>
                    <span class="blue-block pull-left"></span>
                    <div class="pull-left titles">
                        <p class="title"><a href="{:addons_url('Academic://Academic/IteamDetail',array('id'=>$item['id']))}">{$iteam.title}</a></p>
                        <span class="sub-title summ"><php>if($iteam['summary']==1){ echo "已总结"; } else { echo "未总结";}</php></span>
                        <img src="/Public/static/img/see.png" class="see">
                        <span class="sub-title pull-left" style="margin-left:3px;">浏览(&nbsp;</span>
                        <span class="sub-title pull-left">{$iteam.hits}</span>
                        <span class="sub-title pull-left">&nbsp;)</span>
                    </div>
                    <div class="amount pull-left">
                        <span class="amount-now">{$iteam.participated_number}</span>
                        <span class="amount-dig">/</span>
                        <span class="amount-total">{$iteam.participate_number}</span>
                        <img src="/Public/static/img/progressbar-bottom.png">
                        <img src="/Public/static/img/progressbar-top.png" class="progressbar">
                    </div>
                </li>
                </volist>
            </ul>

            <ul id="myiteam-right-ul" class="hidden">
                <volist name="ParticipateIteams" id="iteam">
                    <li>
                        <span class="blue-block pull-left"></span>
                        <div class="pull-left titles">
                            <p class="title"><a href="{:addons_url('Academic://Academic/IteamDetail',array('id'=>$item['id']))}">{$iteam.title}</a></p>
                            <span class="sub-title summ"><php>if($iteam['summary']==1){ echo "已总结"; } else { echo "未总结";}</php></span>
                            <img src="/Public/static/img/see.png" class="see">
                            <span class="sub-title pull-left" style="margin-left:3px;">浏览(&nbsp;</span>
                            <span class="sub-title pull-left">{$iteam.hits}</span>
                            <span class="sub-title pull-left">&nbsp;)</span>
                        </div>
                        <div class="amount pull-left">
                            <span class="amount-now">{$iteam.participated_number}</span>
                            <span class="amount-dig">/</span>
                            <span class="amount-total">{$iteam.participate_number}</span>
                            <img src="/Public/static/img/progressbar-bottom.png">
                            <img src="/Public/static/img/progressbar-top.png" class="progressbar">
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    
<script type="text/javascript">
    $(function(){
        var percent=[];
        var wid=[];
        for(var i=0;i<$(".list li").length;i++){
            var now=$(".list li").eq(i).find(".amount-now").text();
            var total=$(".list li").eq(i).find(".amount-total").text();
            percent[i]=now/total;
            wid[i]=percent[i]*90;
            $(".list li").eq(i).find(".progressbar").css({"clip":"rect(0 " + wid[i] + "px 14px 0)"});
        }
    })

    $("#myiteam-left").click(function(){
        $(this).addClass("active");
        $("#myiteam-right").removeClass("active");
        $("#myiteam-right-ul").addClass("hidden");
        $("#myiteam-left-ul").removeClass("hidden");
    })

    $("#myiteam-right").click(function(){
        $(this).addClass("active");
        $("#myiteam-left").removeClass("active");
        $("#myiteam-left-ul").addClass("hidden");
        $("#myiteam-right-ul").removeClass("hidden");
    })
</script>

<include file="Public/e_footer" />