<include file="Public/e_header" />
<body>
    <div class="container">
        <h2>创新创业大赛</h1>
        <p class="main-content">阿双方嘎嘎嘎个啥</p>
        <p class="main-content">阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥</p>
        <p class="main-content">阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥</p>
        <p class="main-content">阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥阿双方嘎嘎嘎个啥</p>

        <div class="link-square">
            <span>想参加？想找队友？到</span>
            <a href="" class="orange">iteam广场</a>
            <span>看看吧！</span>
        </div>
    </div>

<include file="Public/e_footer" />