<include file="Public/e_header"/>
<body>
	<div class="flex-box salon-type">
		<a href="javacript:;" class="flex-1 center {:IsActive($status,'sign')}"  id="square-left">可报名的iteam</a>
		<a href="javacript:;" class="flex-1 center {:IsActive($status,'end')}"  id="square-right">已结束的iteam</a>
	</div>
<!--<div class="center" id="data">-->
	<!--<span class="name">{$user.student_name}</span>-->
	<!--<a href="{:addons_url('Auth://Auth/EditProfile')}" id="change-data" class="pull-right">修改资料</a>-->
<!--</div>-->
	<form method="post">
		<div class="flex-box select-group">
			<select name="type" class="flex-1">
				<option value="">竞赛类别</option>
				<option value="物联网" {:IsSelected($type,'物联网')}>物联网</option>
				<option value="互联网+" {:IsSelected($type,'互联网+')}>互联网+</option>
			</select>
			<select name="date" class="flex-1">
				<option value="">比赛时间</option>
				<option value="{:date('Y-m-d',time())}" {:IsSelected($date,date('Y-m-d',time()))}>今天</option>
				<option value="{:date('Y-m-d',time()+1*24*3600)}" {:IsSelected($date,date('Y-m-d',time()+1*24*3600))}>明天</option>
				<option value="{:date('Y-m-d',time()+3*24*3600)}" {:IsSelected($date,date('Y-m-d',time()+3*24*3600))}>三天后</option>
			</select>
			<select name="number" class="flex-1">
				<option value="">参与人数</option>
				<php> for($i=2;$i<7;$i++) { </php>
				<option value="{$i}" {:IsSelected($number,$i)}>{$i}</option>
				<php> } </php>
				<option value="">全部</option>
			</select>
			<input type="hidden" name="status" value="" id="status"/>
			<input type="submit" value="搜索"/>
		</div>
	</form>

	<div class="container">
		<div class="list">
			<ul id="square-left-ul">
				<volist name="sign_iteams" id="iteam">
					<li class="detail-title">
						<span class="blue-block pull-left"></span>
						<div class="pull-left titles">
							<p class="title"><a href="{:addons_url('Academic://Academic/IteamDetail',array('id'=>$iteam['id']))}">{$iteam.title}</a></p>
							<span class="sub-title pull-left name detail"><php>$user = M('e_user')->find($iteam['publish_userid']); echo $user['student_name'];</php></span>
							<span class="sub-title pull-left time"><php>echo date("Y-m-d",$iteam['start_date']);</php></span>
							<img src="/Public/static/img/see.png" class="see">
							<span class="sub-title pull-left" style="margin-left:3px;">浏览(</span>
							<span class="sub-title pull-left">{$iteam.hits}</span>
							<span class="sub-title pull-left">)</span>
						</div>
						<div class="amount pull-left">
							<span class="amount-now">{$iteam.participated_number}</span>
							<span class="amount-dig">/</span>
							<span class="amount-total">{$iteam.participate_number}</span>
							<img src="/Public/static/img/progressbar-bottom.png">
							<img src="/Public/static/img/progressbar-top.png" class="progressbar">
						</div>
					</li>
				</volist>
			</ul>

			<ul id="square-right-ul" class="hidden">
				<volist name="end_iteams" id="iteam">
					<li class="detail-title">
						<span class="blue-block pull-left"></span>
						<div class="pull-left titles">
							<p class="title"><a href="{:addons_url('Academic://Academic/IteamDetail',array('id'=>$iteam['id']))}">{$iteam.title}</a></p>
							<span class="sub-title summ"><php>if($iteam['summary']==1){ echo "已总结"; } else { echo "未总结";}</php></span>
							<img src="/Public/static/img/see.png" class="see">
							<span class="sub-title pull-left" style="margin-left:3px;">浏览(</span>
							<span class="sub-title pull-left">{$iteam.hits}</span>
							<span class="sub-title pull-left">)</span>
						</div>
						<div class="amount pull-left">
							<span class="amount-now">{$iteam.participated_number}</span>
							<span class="amount-dig">/</span>
							<span class="amount-total">{$iteam.participate_number}</span>
							<img src="/Public/static/img/progressbar-bottom.png">
							<img src="/Public/static/img/progressbar-top.png" class="progressbar">
						</div>
					</li>
				</volist>
			</ul>
		</div>
	</div>

<script type="text/javascript">
	$(function () {
		var percent = [];
		var wid = [];
		for (var i = 0; i < $(".list li").length; i++) {
			var now = $(".list li").eq(i).find(".amount-now").text();
			var total = $(".list li").eq(i).find(".amount-total").text();
			percent[i] = now / total;
			wid[i] = percent[i] * 90;
			$(".list li").eq(i).find(".progressbar").css({"clip": "rect(0 " + wid[i] + "px 14px 0)"});
		}
	})

	$(function () {
		if($("#square-left").hasClass("active")){
			$("#square-right").removeClass("active");
			$("#square-right-ul").addClass("hidden");
			$("#square-left-ul").removeClass("hidden");
		}
		if($("#square-right").hasClass("active")){
			$("#square-left").removeClass("active");
			$("#square-left-ul").addClass("hidden");
			$("#square-right-ul").removeClass("hidden");
		}
	})

	$("#square-left").click(function(){
		$(this).addClass("active");
		$("#square-right").removeClass("active");
		$("#square-right-ul").addClass("hidden");
		$("#square-left-ul").removeClass("hidden");
		$("#status").attr('value','sign');
	})

	$("#square-right").click(function(){
		$(this).addClass("active");
		$("#square-left").removeClass("active");
		$("#square-left-ul").addClass("hidden");
		$("#square-right-ul").removeClass("hidden");
		$("#status").attr('value','end');
	})
</script>

<include file="Public/e_footer" />