<include file="Public/e_header" />
<body>
<form method="post">
    <div class="container">
        <div class="summary">
            <p>比赛总结：</p>
            <textarea name="comment"></textarea>
        </div>

        <div class="photo">
            <span class="pull-left">上传照片：</span>
            <div id="filePicker">选择图片</div>
            <input type="hidden" name="picture" id="photo-path">
        </div>

        <div class="stars">
            <span class="pull-left">比赛评价：</span>
            <div class="pull-left first-star">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <input type="hidden" value="" name="stars">
        </div>

        <a href="" class="button clearfix" onclick="return checkSummary();">提交</a>
    </div>
</form>

<script type="text/javascript">
    var comment = false;
    $(function(){
        $(".stars").find("img").click(function(){
            comment = true;
            var index=$(this).parent().index() + 1;
            $("input[name='stars']").val(index);
            $(this).css({"background-color":"yellow"});
            $(this).parent().prevAll().find("img").css({"background-color":"yellow"});
            $(this).parent().nextAll().find("img").css({"background-color":"#fff"});
        })
    })

    function checkSummary() {
        if ($("textarea").val() == "") {
            alert("请填写比赛总结！");
            return false;
        }
        if ($("input#photo-path").val() == "") {
            alert("请上传比赛照片！");
            return false;
        }
        if (!comment) {
            alert("请评价比赛！");
            return false;
        }
    }
</script>
<script type="text/javascript" src="/Public/static/webuploader/webuploader.js"></script>
<script type="text/javascript">
    var uploader = WebUploader.create({

        auto: true,

        swf: "/Public/static/webuploader/Uploader.swf",

        server: "http://weixin.eagerfor.com/index.php?s=/home/File/uploadPicture/s/1",

        pick: '#filePicker',

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    uploader.on( 'uploadAccept', function( obj , data ) {
        var result = eval("(" + data + ")");
        $("input#photo-path").val(result.path);
    });
    uploader.on( 'uploadProgress', function( file, percentage ) {
        $(".webuploader-pick").text("上传中...");
    });
    uploader.on( 'uploadSuccess', function( file ) {
        $(".webuploader-pick").text("上传成功");
    });
</script>
<include file="Public/e_footer" />
