<include file="Public/e_header" />
<body>
<form method="post">
    <div class="container">
        <div class="summary">
            <p>比赛总结：</p>
            <textarea name="comment"></textarea>
        </div>

        <div class="photo">
                <span class="pull-left">上传照片：</span>
                <input type="file" accept="image/*" class="pull-left" id="photo-upload">
        </div>

        <div class="stars">
            <span class="pull-left">比赛评价：</span>
            <div class="pull-left first-star">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <div class="pull-left">
                <img src="/Public/static/img/star.png">
            </div>
            <input type="hidden" value="" name="stars">
        </div>

        <a href="" class="button clearfix" onclick="return checkSummary();">提交</a>
    </div>
</form>

<script type="text/javascript">
    var comment = false;
    $(function(){
        $(".stars").find("img").click(function(){
            comment = true;
            var index=$(this).parent().index() + 1;
            $("input[name='stars']").val(index);
            $(this).css({"background-color":"yellow"});
            $(this).parent().prevAll().find("img").css({"background-color":"yellow"});
            $(this).parent().nextAll().find("img").css({"background-color":"#fff"});
        })
    })

    function checkSummary() {
        if ($("textarea").val() == "") {
            alert("请填写比赛总结！");
            return false;
        }
        if ($("input[type='file']").val() == "") {
            alert("请上传比赛照片！");
            return false;
        }
        if (!comment) {
            alert("请评价比赛！");
            return false;
        }
    }
</script>
<script type="text/javascript" src="/Public/static/js/ajaxfileupload.js"></script>
<script type="text/javascript">
    $("#photo-upload").change(function () {
        $.ajaxFileUpload({
            url: "http://weixin.eagerfor.com/index.php?s=/home/File/uploadPicture",
            secureuri: false,
            fileElementId: "photo-upload",
            success: function (data,status) {
                var result = eval(data);
                console.log(result);
            },
            error: function (data,status,e) {
                alert(e);
            }
        })
    })
</script>
<include file="Public/e_footer" />
